.App {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

h1 {
  font-size: 40px;
}

input {
  margin: 20px 20px 40px 20px;
}

button {
  padding: 20px;
  width: 300px;
  background-color: palegreen;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
}

button:hover {
  background-color: greenyellow;
}
